#game-title {
  text-align: center;
}

table {
  margin: 0 auto;
  position: relative;
}

td {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
}

#r1c1 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#r1c2 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

#r1c3 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#r2c1 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#r2c2 {
  border: 2px solid black;
}

#r2c3 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#r3c1 {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

#r3c2 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#r3c3 {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

#game-start {
  margin-left: 580px;
  margin-top: 20px
  position: absolute;
}

.occupied {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

